<div id="content-block">
  <div class="container-fluid wide">
    <div class="row">
      <div class="col-md-10 col-lg-10 col-lg-offset-1">
        <div class="cell-view full-screen-height text-center">
          <div class="empty-space col-xs-b30"></div>
            <article class="sa">
              <%= react_component("ContactTitle", {title: "Contact Us"}) %>
              <%= react_component("ContactTitle", {paragraph: "Et harum quidem rerum facilis est et expedita distinctio."}) %>
              </article>
            <div class="empty-space col-xs-b25 col-sm-b50"></div>
              <div class="sa col-xs-b10">
                <%= react_component("ContactInfo", {phonenumber: "Phone Number: +626 460 4061"}) %>
              </div>
              <div class="sa col-xs-b10">
                <%= react_component("ContactInfo", {address: "Address: 350 West Erie Street"}) %>
              </div>
              <div class="sa col-xs-b10">
                <%= react_component("ContactInfo", {email: "Email: hello@tdhcreative.com"}) %>
              </div>
              <div class="empty-space col-xs-b30"></div>
              <div class="follow style-1">
                <a class="entry" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a class="entry" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="entry" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="entry" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
              </div>
              <div class="empty-space col-xs-b25 col-sm-b50"></div>
              <%= form_for :anything, url: email_form_path do |f| %>
                <form class="contact-form">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="simple-input-wrapper">
                        <%= f.text_field :name,:class => 'simple-input',:id => "text_field" , :required => true, :placeholder => "Name" %>
                        <span></span>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="simple-input-wrapper">
                        <%= f.text_field :email,:class => 'simple-input',:id => "text_field" , :required => true, :placeholder => "Email" %>
                        <span></span>
                      </div>
                    </div>
                  </div>
                  <div class="simple-input-wrapper">
                    <%= f.text_field :phone_number,:class => 'simple-input',:id => "text_field" , :required => true, :placeholder => "Phone Number" %>
                    <span></span>
                  </div>
                  <div class="simple-input-wrapper">
                    <%= f.text_area :body,:rows =>"10", :cols=>"100",:class => 'simple-input',:style=>"resize:none",:id => "message" , :required => true , :placeholder => " Message"%>
                    <span></span>
                  </div>
                  <div class="empty-space col-xs-b10"></div>
                  <div class="button">submit<input type="submit"/></div>
                </form>
              <% end %>
            <div class="empty-space col-xs-b30"></div>
        </div>
      </div>
    </div>
  </div>
</div>
