<!DOCTYPE html>
<html>
  <head>
    <title>KS-Photography</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="format-detection" content="telephone=no" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.extension.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/swiper.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    <link rel="shortcut icon" href="/img/favicon.ico" />
  </head>

  <body>
    <div id="loader-wrapper"></div>

    <%= render "shared/navbar"%>
    <%= yield %>

        <%= render "shared/footer"%>


    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/swiper.jquery.min.js"></script>
    <script src="/js/global.js"></script>

    <script src="/js/isotope.pkgd.min.js"></script>

    <!-- lightbox -->
    <link href="/css/simplelightbox.css" rel="stylesheet" type="text/css" />
    <script src="/js/simple-lightbox.min.js"></script>

  </body>
</html>
